
.nav, .pagination, .carousel, .panel-title a
  cursor: pointer

.list-panel
  padding: 15px 15px
  margin-top: 5vh
  border: 3px solid black
  width: 260px
  box-shadow: -5px 5px 4px rgba(0,0,0,0.3)

  .new-list-icon
    letter-spacing: 2px

    .fa-plus-square
      box-sizing: border-box
      margin: 15px 0 0 20px
      color: green

  h3
    margin-top: 10px
    margin-bottom: 20px
    margin-left: 15px
    letter-spacing: 2px

  button
    margin-bottom: 15px
    box-sizing: border-box

  ul
    list-style-type: none
    padding: 0

    li
      font-size: 22px
      padding: 10px 0
      font-style: italic

      &:hover
        color: blue
