<!doctype html>
<html data-ng-app="gifter">

<head>
  <meta charset="utf-8">
  <title>MEAN Auth</title>
  <!-- styles -->
  <link rel="stylesheet" href="dist/css/style.css">

  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-resource.min.js"></script>

  <script src="dist/js/app.min.js"></script>


</head>

  <div class="container">
    <div data-ui-view></div>
  </div>


</body>
</html>
