<h1 class="text-center">Gift Engine<br>
  <small>Gifting Made Easy</small>
</h1>

<h2 class="text-center">What is Gift Engine?</h2>
<div class="about center-block">
  <p class>Many people feel serious social pressure when it comes to giving gifts to other people. Either the occasion sneaks up on you or it looms ahead for weeks and months for you to agonize over.
    <ul>
      <li>What do you get for a partner of 20 years? </li>
      <li>What do you get to welcome a stranger into the neighborhood? </li>
      <li>What do you get for your boss's birthday?</li>
    </ul>
    This stress, also known as <a href="https://www.psychologytoday.com/blog/presence-mind/201412/gift-giving-anxiety">gift anxiety</a>, is very real and often takes the fun out of what would otherwise be a fun and enjoyable occasion. </p>
    <p><strong>Gift Engine</strong> is here to help answer those questions and relieve your gift anxiety. Gift-giving should be enjoyable for both the gift-giver and the gift-recipient. Gift Engine is here to make sure that any gifting occasion is a happy one for all parties involved.</p>

    <h2 class="text-center">About the Team</h2>
    <p>The Gift Engine team came together at General Assembly's DC campus as a collaborative project conceived by Product Management Immersive graduate Neal Smith, conceptualized by  User Experience Immersive graduate Diane Stacey, and brought to life by Web Development Immersive graduates Peter Zhang, Andre Shonubi, and Starr Chen.</p>
  </div>
