<div id="homepage-main" class="text-center">
  <h1>Welcome to Gift Engine</h1>
  <img src="http://placebear.com/200/200" alt="big logo" id="homepage-logo" class="center-block img-circle">
  <p class="lead">Gift listing made easy</p>
</div>

<div id="create-lists" class="text-center">
  <h2 class="text-uppercase">Create Lists</h2>
  <p class="lead">Get started creating lists</p>
</div>

<div id="how-it-works" class="text-center">
  <h2 class="text-uppercase">How It Works</h2>
  <p class="lead">Blah blah blah</p>
</div>

<div data-ng-controller="logoutController" class="text-center">
  <a data-ng-click="logout()" class="btn btn-default">Log In</a>
</div>

<p>
<form action="/user/lists" method="post">
  new list: <input type="text" name="for"><br>
  <input type="submit" value="Submit">
</form>
</p>
